{% extends 'base.html' %}
{% block content %}
    <div>
        <form action="/contratos/update" method="POST">
            <div class="form-group">
                <div class="input-group-prepend">
                    <input type="hidden" class="form-control" id="idcontrato" name="idcontrato" value="{{Contrato.idcontrato}}">
                    <label class="input-group-text" for="nro">Numero de contrato: </label>
                    <input type="number" class="form-control" style="margin-right: 10px" id="nro" name="nro" value="{Contrato.nro}" readonly>
                </div>
            </div>
            

        <div class="form-group">
            <label for="Fechas">Plazo de Retiro y Entrega:</label>
            <div class="input-group">
                <input type="date" class="form-control" id="FechaInicio" name="FechaInicio" value="{Contrato.fecha_incio}" readonly>
                <span class="input-group-addon" style="margin: 0 5px;">hasta</span>
                <input type="date" class="form-control" id="FechaFin" name="FechaFin" value="{Contrato.fecha_fin}" readonly>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="idProducto">Producto:</label>
            </div>
            <input type="text" class="form-control" style="margin-right: 10px" id="idProducto" name="idProducto" value="{Contrato.idproducto}" readonly>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-md-4">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="cantidad">Cantidad (Kg):</label>
                </div>
                  <input type="number" class="form-control" style="margin-right: 10px" id="cantidad" name="cantidad" value="{Contrato.cantidad}" readonly>
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="precioCompra">Precio Compra (Gs):</label>
                </div>
                  <input type="number" class="form-control" id="precioCompra" name="precioCompra" value="{Contrato.precio_compra}" readonly>
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="precioVenta">Precio Venta (Gs):</label>
                </div>
                  <input type="number" class="form-control" id="precioVenta" name="precioVenta" value="{Contrato.precio_venta}" readonly>
              </div>
            </div>
          </div>

        <label for="origen">Origen:</label>
        <div class="form-group" id="proveedor">
            <div class="input-group-prepend">
                <label class="input-group-text" for="idProveedor">Proveedor:</label>
                <input type="text" class="form-control" id="idProducto" name="idProducto" value="{Contrato.idproveedor}" readonly>
                <label for="nroCuentaP" class="mb-4"></label> <!-- Truquito para colocar los campos a la misma altura -->
                <div class="input-group-prepend">
                    <label class="input-group-text" for="nroCuentaP">N° de Cuenta:</label>
                </div>
                <select class="custom-select" id="nroCuentaP" name="nroCuentaP">
                    <option value="0" selected>Elegir...</option>
                </select>
            </div>
        </div>

        <div class="form-group" id="departamento-ciudadO">
            <div class="input-group-prepend">
                <label class="input-group-text" for="departamento_O">Departamento:</label>
                <input type="number" class="form-control" id="departamento_O" name="departamento_O" value="{Contrato.departamento_O}" readonly>
                <div class="input-group-prepend">
                    <label class="input-group-text" for="ciudad_O">Ciudad:</label>
                </div>
                <input type="number" class="form-control" id="ciudad_O" name="ciudad_O" value="{Contrato.ciudad_O}" readonly>
            </div>
        </div>

        
        <label for="destino">Destino:</label>
        <div class="form-group" id="cliente">
            <div class="input-group-prepend">
                <label class="input-group-text" for="idCliente">Cliente:</label>
                <input type="number" class="form-control" id="idCliente" name="idCliente" value="{Contrato.idCliente}" readonly>
                <label for="nroCuentaC" class="mb-4"></label> <!-- Truquito para colocar los campos a la misma altura -->
                <div class="input-group-prepend">
                    <label class="input-group-text" for="nroCuentaC">N° de Cuenta:</label>
                </div>
                <input type="number" class="form-control" id="nroCuentaC" name="nroCuentaC" value="{Contrato.nroCuentaC}" readonly>
            </div>
        </div>

        <div class="form-group" id="departamento-ciudadD">
            <div class="input-group-prepend">
                <label class="input-group-text" for="departamento_D">Departamento:</label>
                <input type="number" class="form-control" id="departamento_D" name="departamento_D" value="{Contrato.departamento_D}" readonly>
                <div class="input-group-prepend">
                    <label class="input-group-text" for="ciudad_D">Ciudad:</label>
                </div>
                <input type="number" class="form-control" id="ciudad_D" name="ciudad_D" value="{Contrato.ciudad_D}" readonly>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
{% endblock content %}
{% block script %}
{% endblock script %}