<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/contrato.css') }}" rel="stylesheet">
    <title>Ver Contrato {{Contrato.nro}}</title>
  </head>
  <body>
    <div class="container d-flex">
      <div class="row justify-content-center mx-auto">
        <div class="col-12">
          <h3 class="mt-5 text-center">Contrato de Compra Venta N° {{Contrato.nro}}</h3>
          <hr class="linea" />
        </div>
        <div class="col-auto">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="row">01 - Lugar y Fecha:</th>
                <td>Hohenau,</td>
              </tr>
              <tr>
                <th scope="row">02 - El Vendedor:</th>
                <td>{{Contrato.desc_provee}} - RUC: {{Contrato.ruc_provee}}</td>
              </tr>
              <tr>
                <td></td>
                <td>N° Cuenta:{{Contrato.cuenta_proveedor}}   Banco: {{Contrato.desc_bancoP}}</td>
              </tr>
              <tr>
                <th scope="row">03 - El Intermediario:</th>
                <td> Grupo Evolución S.A. - RUC: 80086212-5</td>
              </tr>
              <tr>
                <td></td>
                <td>N° Cuenta: xxxxxxx  Banco: xxxxx</td>
              </tr>
              <tr>
                <th scope="row">04 - El Comprador:</th>
                <td>{{Contrato.desc_clie}} - RUC: {{Contrato.ruc_clie}}</td>
              </tr>
              <tr>
                <td></td>
                <td>N° Cuenta:{{Contrato.cuenta_cliente}}  Banco: {{Contrato.desc_bancoC}}</td>
              </tr>
              <tr>
                <th scope="row">05- Objeto y Cantidad:</th>
                <td>{{Contrato.desc_producto}}, {{Contrato.cantidad}} Kilogramos</td>
              </tr>
              <tr>
                <th scope="row">06- Precio:</th>
                <td>Todos los valores POR KILOGRAMOS IVA incluido a retirar: GS {{Contrato.precio_compra}}</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Todos los valores POR KILOGRAMOS IVA incluido a entregar: GS {{Contrato.precio_venta}}</td>
              </tr>
              <tr>
                <td colspan="2"></td> {# espacio en blanco #}
              </tr>
              <tr>
                <th scope="row">07- Plazo de Entrega:</th>
                <td>Siempre que las condiciones climáticas sean favorables.</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </body>
</html>
