<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/contrato.css') }}" rel="stylesheet">
    <title>Ver Contrato</title>
  </head>
  <body>
    <div class="container d-flex">
      <div class="row justify-content-center mx-auto">
        <div class="col-12">
          <h3 class="mt-5 text-center">Contrato de Compra Venta N°</h3>
          <hr class="linea" />
        </div>
        <div class="col-auto">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="row">01 - Lugar y Fecha:</th>
                <td>Hohenau, </td>
              </tr>
              <tr>
                <th scope="row">02 - El Vendedor:</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">03 - El Comprador:</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">04- Objeto y Cantidad:</th>
                <td class=""></td>
              </tr>
              <tr>
                <td colspan="2"></td> {# espacio en blanco #}
              </tr>
              <tr>
                <th scope="row">05- Precio:</th>
                <td>Todos los valores POR TONELADA IVA incluido a retirar:</td>
              </tr>
              <tr>
                <th scope="row">06- Plazo de Entrega:</th>
                <td>Siempre que las condiciones climáticas sean favorables.</td>
              </tr>
              <tr>
                <th scope="row">07- Condición de Facturación:</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Pago:</th>
                <td></td>
              </tr>
              <tr>
                <td>Datos Bancarios:</td>
                <td></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </body>
</html>
