{% extends 'base.html' %}
{% block content %}
<h1 class="h2 mb-1 text-gray-800">Crear Remisión</h1>
<hr class="mb-4">
<div class="container-fluid" id="remision">
    <form action="/remisiones/nuevo" id="remisionForm" method="POST">
        <div class="row d-flex align-items-end">
            <div class="col">
                <div class="form-group">
                    <label class="control-label">*N° Remisión </label>
                    <input type="text" name="numero" class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{7}"
                        maxlength="15" placeholder="999-999-999999" autocomplete="off" required>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="fecha">*Fecha de Emisión: </label>
                    <input type="date" class="form-control" id="fecha_carga" name="fechacarga">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="fecha">*Fecha de Descarga: </label>
                    <input type="date" class="form-control" id="fecha_descarga" name="fechad_escarga" disabled>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-end">
            <div class="col-12">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="idContrato">Contrato:</label>
                        </div>
                        <select class="custom-select" id="idContrato" name="idcontrato">
                            <option value="" selected>Elegir...</option>
                            {% for Contrato in Contratos_lista %}
                            <option value="{{Contrato.idcontrato}}">{{Contrato.nro}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- ORIGEN-->
        <div class="row">
            <div class="col-12">
                <p>Origen:</p>
            </div>
        </div>
        <div class="row d-flex align-items-end">
            <div class="col-xs-12 col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="desc_proveedor">Proveedor:</label>
                    </div>
                    <input class="form-control" type="text" id="desc_proveedor" readonly>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Departamento:</label>
                    </div>
                    <input type="text" name="departamento_O" class="form-control" readonly>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="idCiudad">Ciudad:</label>
                    </div>
                    <input type="text" name="ciudad_O" class="form-control" value="" readonly>
                </div>
            </div>
        </div>
        <!-- DESTINO-->
        <div class="row">
            <div class="col-12">
                <p>Destino:</p>
            </div>
        </div>
        <div class="row d-flex align-items-end">
            <div class="col-xs-12 col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="desc_cliente">Cliente:</label>
                    </div>
                    <input type="text" name="cliente" class="form-control" id="desc_cliente" readonly>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="idDepartamento">Departamento:</label>
                    </div>
                    <input type="text" name="departamento_D" class="form-control" value="" readonly>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="idCiudad">Ciudad:</label>
                    </div>
                    <input type="text" name="ciudad_D" class="form-control" value="" readonly>
                </div>
            </div>
        </div>
        <!--TRASLADO-->
        <div class="row">
            <div class="col-12">
                <p>Detalles del Traslado:</p>
            </div>
        </div>
        <div class="row d-flex align-items-end">
            <div class="col-xs-12 col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="idChofer">Chofer:</label>
                    </div>
                    <select class="custom-select" style="margin-right: 10px" id="idChofer" name="idchofer">
                        <option value="0" selected>Elegir...</option>
                        {% for Chofer in Choferes_lista %}
                        <option value="{{Chofer.idchofer}}">{{Chofer.ci}} - {{Chofer.nombre}} {{Chofer.apellido}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="idCamion">Camión:</label>
                    </div>
                    <select class="custom-select" style="margin-right: 10px" id="idCamion" name="idcamion">
                        <option value="0" selected>Elegir...</option>
                        {% for Camion in Camiones_lista %}
                        <option value="{{Camion.idcamion}}">{{Camion.camion_chapa}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="idCarreta">Carreta:</label>
                    </div>
                    <select class="custom-select" style="margin-right: 10px" id="idCarreta" name="idcarreta">
                        <option value="0" selected>Elegir...</option>
                        {% for Carreta in Carretas_lista %}
                        <option value="{{Carreta.idcarreta}}">{{Carreta.carreta_chapa}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <!--PRODUCTO-->
        <div class="row d-flex align-items-end">
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="control-label">Producto: </label>
                    <input type="text" name="producto" class="form-control" value="" readonly>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="control-label">*Bruto Origen: </label>
                    <input type="number" name="bruto" class="form-control" pattern="[0-9]{4,5}" required>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="control-label">*Tara Origen: </label>
                    <input type="number" name="tara" class="form-control" pattern="[0-9]{4,5}" required>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="control-label">*Neto Origen: </label>
                    <input type="number" name="neto" id="neto" class="form-control" pattern="[0-9]{4,5}" required readonly>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-end">
            <div class="col-xs-12 col-md-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="iddeposito">*Depósito:</label>
                    </div>
                    <select class="custom-select" style="margin-right: 10px" id="iddeposito" name="iddeposito">
                        <option value="0" selected>Elegir...</option>
                        {% for Deposito in Depositos_lista %}
                        <option value="{{Deposito.iddeposito}}">{{Deposito.descripcion}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="control-label">*Bruto Destino: </label>
                    <input type="number" name="brutod" class="form-control" pattern="[0-9]{4,5}" readonly>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="control-label">*Tara Destino: </label>
                    <input type="number" name="tarad" class="form-control" pattern="[0-9]{4,5}" readonly>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="control-label">*Neto Destino: </label>
                    <input type="number" name="netod" id="netod" class="form-control" pattern="[0-9]{4,5}" readonly>
                </div>
            </div>
        </div>
        <button class="btn btn-warning"><a href="/" style="color: white;">Volver al Inicio</a></button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>


{% endblock content %}
{% block script %}
<script src="{{url_for('static', path='/js/crear-remision.js')}}"></script>
{% endblock script %}