<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/remision.css') }}" rel="stylesheet">
    <title>Ver Remisión</title>
</head>

<body>
    <div class="container-fluid mt-3">
        <div class="row mx-auto">
            <div class="col">
                <label for="fecha_emision">Fecha de emisión:</label>
                <input type="text" id="fecha_carga" name="fecha_carga" class="border-top-0 border-left-0 border-right-0" value="{{Remision.fecha_carga.strftime('%Y-%m-%d')}}" readonly>
            </div>
            <div class="col">
                <label for="numero">N° Remisión: </label>
                <input type="text" name="numero" id="numero" class="border-top-0 border-left-0 border-right-0" value="{{Remision.numero}}" readonly>
            </div>
        </div>
        <!--Destinatario Mercadería -->
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col" colspan="4">Destinatario de la Mercadería:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">Nombre o Razón Social: 
                        <input type="text" id="clie" name="clie" class="border-top-0 border-left-0 border-right-0" value="{{Remision.desc_cliente}}" readonly></td>
                    <td colspan="2">RUC o CI: 
                        <input type="text" id="ruc_clie" class="border-top-0 border-left-0 border-right-0" value="{{Remision.ruc_cliente}}" readonly></td>
                </tr>
                <tr>
                    <td colspan="4">Domicilio: 
                        <input type="text" id="direccion_cliente" class="border-top-0 border-left-0 border-right-0" value="{{Remision.dir_cliente}}" readonly></td> </td>
                </tr>
            </tbody>
        </table>
        <!-- Datos de Traslado -->
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col" colspan="4">Datos de Traslado:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">Motivo de Traslado: Venta</td>
                    <td colspan="2">Comprobante de Venta N°: 
                        <input type="text" id="numero_factura_venta_cabecera" class="border-top-0 border-left-0 border-right-0" value="{{Remision.numero_factura if Remision.numero_factura else '--'}}" readonly> </td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td scope="col" colspan="4">Dirección de Punto de Partida:</td>
                </tr>
                <tr>
                    <td colspan="2">Ciudad: 
                        <input type="text" id="ciudad_origen" class="border-top-0 border-left-0 border-right-0" value="{{Remision.ciudadorigen}}" readonly></td>
                    <td colspan="2">Departamento: 
                        <input type="text" id="departamento_origen" class="border-top-0 border-left-0 border-right-0" value="{{Remision.departamentoorigen}}" readonly></td>
                </tr>
                <tr>
                    <td scope="col" colspan="4">Dirección de Punto de Llegada:</td>
                </tr>
                <tr>
                    <td colspan="2">Ciudad: 
                        <input type="text" id="ciudad_destino" class="border-top-0 border-left-0 border-right-0" value="{{Remision.ciudaddestino}}" readonly></td>
                    <td colspan="2">Departamento: 
                        <input type="text" id="departamento_destino" class="border-top-0 border-left-0 border-right-0" value="{{Remision.departamentodestino}}" readonly></td>
                </tr>
            </tbody>
        </table>
        <!-- Datos de Vehículo de Transporte-->
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col" colspan="4">Datos de Vehículo de Transporte:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4">Marca de Vehículo: 
                        <input type="text" id="marca_camion" class="border-top-0 border-left-0 border-right-0" value="{{Remision.marcacamion}}" readonly> </td>
                </tr>
                <tr>
                    <td colspan="4">Número de Registro Único de Automotor (RUA): 
                        <input type="text" id="chapa_camion" class="border-top-0 border-left-0 border-right-0" value="{{Remision.camion_chapa}}" readonly> </td>
                </tr>
                <tr>
                    <td colspan="4">Marca de Carreta: 
                        <input type="text" id="marca_carreta" class="border-top-0 border-left-0 border-right-0" value="{{Remision.marcacarreta}}" readonly> </td>
                </tr>
                <tr>
                    <td colspan="4">Número de Registro Único de Automotor (RUA) del Remolque/Tracto/Semiremolque: 
                        <input type="text" id="chapa_carreta" class="border-top-0 border-left-0 border-right-0" value="{{Remision.carreta_chapa}}" readonly> </td>
                </tr>
            </tbody>
        </table>
        <!--Datos del Conductor del Vehículo -->
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col" colspan="4">Datos del Conductor del Vehículo:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4">Nombre o Razón Social: 
                        <input type="text" id="chofer" class="border-top-0 border-left-0 border-right-0" value="{{Remision.nombre}} {{Remision.apellido}}" readonly> </td>
                </tr>
                <tr>
                    <td colspan="2">RUC o CI: 
                        <input type="text" id="ci_chofer" class="border-top-0 border-left-0 border-right-0" value="{{Remision.ci}}" readonly> </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered print-borde" id="detalle_remision">
            <thead>
                <tr>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Unidad de Medida</th>
                    <th scope="col">Descripción de Mercadería</th>
                </tr> 
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{Remision.neto}}</th>
                    <td>Kg</td>
                    <td>{{Remision.desc_producto}}</td>
                    <!-- <td>{{Remision.neto}}</td> -->
                </tr>
            </tbody>
        </table>
        <button class="btn btn-warning"><a href="/" style="color: white;">Volver al Inicio</a></button>
    </div>
</body>

</html>