{% extends 'base.html' %}
{% block content %}
{% block content %}<h1 class="h2 mb-1 text-gray-800">Crear Marca Carreta</h1>
<hr class="mb-4">
    <div>
        <form action="/marcas_carretas/nuevo/" method="POST">
            <div class="form-group">
                <label for="marca_carre_desc">Marca Carreta</label>
                <input type="text" class="form-control" id="marca_carre_desc" name="marca_carre_desc">
                
            </div>
            <button class="btn btn-warning"><a href="/" style="color: white;">Volver al Inicio</a></button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
{% endblock content %}