{% extends 'base.html' %}
{% block content %}
<h1 class="h2 mb-1 text-gray-800">Crear Departamento</h1>
<hr class="mb-4">
    <div>
        <form action="/departamentos/" method="POST">
            <div class="form-group">
              <label for="descDepartamento">Nombre del Departamento</label>
              <input type="text" class="form-control" id="descDepartamento" name="descDepartamento" >
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
    </div>
{% endblock content %}