{% extends 'base.html' %}
{% block content %}
{% block content %}<h1 class="h2 mb-1 text-gray-800">Crear Producto</h1>
<hr class="mb-4">
<div>
    <form action="/productos/nuevo" method="POST">
        <div class="form-group">
            <label for="descProducto">Nombre Producto: </label>
            <input type="text" class="form-control" id="descProducto" name="descProducto">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="idIVA">IVA %: </label>
            </div>
            <select class="custom-select" id="idIVA" name="idIVA">
                {% for Iva in Ivas_lista %}
                <option value="{{Iva.idIVA}}">{{Iva.porcentaje}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-warning"><a href="/" style="color: white;">Volver al Inicio</a></button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endblock content %}