{% extends 'base.html' %}
{% block content %}
<table id="cuenta" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Banco</th>
            <th scope="col">Razon Social</th>
            <th scope="col">Número de cuenta</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <!--aqui se cargan los datos de datatable-->
    </tbody>

</table>

<div class="modal fade" id="eliminarModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar Registro</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <h5> ¿Está seguro/a de eliminar este registro? </h5>
            </div>
            <div class="modal-footer">
                <form id="eliminarCuenta"></form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script type="text/javascript">

    let $tabla = $("#cuenta");
    let $modal = $('#eliminarModal');
    let botonesEliminar = `<button data-dismiss="modal" type="button" class="btn btn-default" id="cancelarEliminar">No, Cancelar</button>
                    <button id="confirmarEliminar" class="btn btn-danger" type="button">Sí, Eliminar</button>`;
    let botonesOK = `<button data-dismiss="modal" type="button" class="btn btn-default" id="cancelarEliminar">Ok</button>`;

    let alertOK = `<div class="alert alert-success aviso" role="alert">
                    Registro eliminado exitosamente.
                </div>`;
    let botonesEditarYEliminar = (id) => {
        return `<a href="/cuentas/editar/${id}" class="btn btn-warning editar">Editar</a>
                <button type="button" class="btn btn-danger eliminar" data-id="${id}"> Eliminar </button>`;
    }

    let urlEspanholDT = '{{url_for("static", path="/vendor/datatables/es-ES.json")}}';

    let tablaDT = null;

    inicializarDataTable = (tabla, url, columnas, urlIdioma) => {
        return tabla.DataTable({
            ajax: {
                url: url,
                dataSrc: '',
            },
            columns: columnas,
            language: {
                url: urlIdioma
            },
        })
    }

    $(document).ready(function () {
        columnas = [
            {
                data: 'idcuenta',
            },
            {
                data: 'desc_banco'
            },
            {
                data: 'desc_RazonSocial'
            },
            {
                data: 'nro'
            },
            {
                data: null,
                sortable: false,
                searchable: false,
                render: function (data, type, row, meta) {
                    return botonesEditarYEliminar(data.idcuenta);
                }
            },
        ];
        tablaDT = inicializarDataTable($tabla, '/cuentas/todos', columnas, urlEspanholDT)

        $tabla.on('click', '.btn-danger.eliminar', function (e) {
            let id = $(e.target). data('id'); //data-"whatever" sirve para obtener el valor de "whatever"
            $modal.data('id', id).modal('show');
        });

        agregarAlert = (accion, motivo) => {
            switch (accion) {
                case'error': {
                    let texto = null;
                    switch (motivo) {
                        case 'verif': {
                            texto = 'Ocurrió un error al verificar si existe el registro seleccionado.';
                            break;
                        }
                        case 'elim': {
                            texto = 'Ocurrió un error al verificar si el registro fue eliminado correctamente. Verifique si los datos mostrados posteriormente son consistentes.';
                            break;
                        }
                        default: {
                            texto = 'Ha ocurrido un error desconocido. Verifique si los datos mostrados posteriormente son correctos.';
                        }
                    }
                    let alertError = ` <div class="alert alert-danger aviso" role="alert">
                        <button type="button" class="close close-alert" 
                            data-dismiss="alert" aria-hidden="true">
                            ×
                        </button> ${texto}
                    </div>`;

                    $('.modal-body').append(alertOK);
                    break;
                }
                case 'ok': {
                    $('.modal-body').append(alertOK);
                    break;
                }
                default: break;
            }
        }

        actualizarBotones = (action) => {
            $modal.find('#eliminarCuenta').children().remove();
            switch (action) {
                case 'error': {
                    $modal.find('#eliminarCuenta').append(botonesOK);
                    break;
                }
                case 'eliminar': {
                    $modal.find('#eliminarCuenta').append(botonesEliminar);
                    break;
                }
                default: $modal.find('#eliminarCuenta').append(botonesOK);
            }
        }

        eliminarFila = (e) => {
            let idEliminar = e.data.id;
            url = `/cuentas/borrar/${idEliminar}`;
            $.ajax({
                url: url,
                method: 'GET',
                dataType: 'json',
                success: function(data, status, xhr) {
                    if (data.status_code == 200) {
                        agregarAlert('ok');
                        actualizarBotones('ok')
                        tablaDT.ajax.reload(null, false); //recaga la tabla
                    }
                    else if (data.status_code == 404) {
                        agregarAlert('error')
                        actualizarBotones('error')
                    }
                    else {
                        agregarAlert('ok');
                        actualizarBotones('ok')
                        tablaDT.ajax.reload(null, false); //recarga la tabla
                        $modal.modal('hide');
                    }
                },
                error: function (e) {
                    agregarAlert('error', 'elim')
                    actualizarBotones('error')
                    console.log(e)
                }
            });
        }

        $modal.on('shown.bs.modal', function (e){
            //verificar si existe el id (por si tocan el html en el dom)
            $.ajax({
                url: `/cuentas/ver/${$modal.data('id')}`,
                method: 'GET',
                dataType: 'json',
                success: function (data, status, xhr) {
                    if(data.status_code == 404) {
                        agregarAlert('error', 'verif')
                        actualizarBotones('error')
                    }
                    else {
                        actualizarBotones('eliminar')
                        $("#confirmarEliminar").off('click').on('click', { id: $modal.data('id') }, eliminarFila);
                    }
                },
                error: function (e) {
                    agregarAlert('error')
                    actualizarBotones('error')
                    console.log(e)
                }
            });
        });

        $modal.on('hidden.bs.modal', function (e) {
            $modal.removeData('id');
            $modal.find('aviso').remove();
            $modal.find('eliminarCuenta').children().remove
        })
    })
</script>
{% endblock script %}