{% extends 'base.html' %}
{% block content %}
<table id="proveedor" class="table table-striped">
    <thead>
      <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">RUC</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Direccion</th>
            <th scope="col">Correo</th>
            <th scope="col">Contacto</th>
            <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for proveedor in proveedores %}
      <tr>
            <td>{{ proveedor.idproveedor}}</td>
            <td>{{ proveedor.descripcion}}</td>
            <td>{{ proveedor.ruc}}</td>
            <td>{{ proveedor.descripcion_ciudad}}</td>
            <td>{{ proveedor.direccion}}</td>
            <td>{{ proveedor.mail}}</td>
            <td>{{ proveedor.telefono}}</td>
            <td><a href="/proveedores/editar/{{- proveedor.idproveedor -}}" class="btn btn-warning editar">Editar</a>
                <button type="button" class="btn btn-danger eliminar" data-toggle="modal" data-target="#eliminarModal" data-id="{{- proveedor.idproveedor -}}"> Eliminar </button></td>
      </tr>
      {% endfor %}
    </tbody>

</table>

<div class="modal fade" id="eliminarModal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Eliminar Registro</h4>
              <a href="#" class="close" data-dismiss="modal">&times;</a>
          </div>
          <div class="modal-body">
              <h5> ¿Está seguro/a de eliminar este registro? </h5>
          </div>
          <div class="modal-footer">
              <form id="eliminarProveedor">
              </form>
          </div>
      </div>
  </div>
</div>

{% endblock content %}
{% block script %}
<script src="{{url_for('static', path='/vendor/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', path='/vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

<script type="text/javascript">

    let urlEspanholDT = '{{url_for("static", path="/vendor/datatables/es-ES.json")}}';
    let $tabla = $("#proveedor");
    let $modal = $('#eliminarModal');
    let botonesEliminar = `<button data-dismiss="modal" type="button" class="btn btn-default" id="cancelarEliminar">No, Cancelar</button>
                    <button id="confirmarEliminar" class="btn btn-danger" type="button">Sí, Eliminar</button>`;
    let botonesOK = `<button data-dismiss="modal" type="button" class="btn btn-default" id="cancelarEliminar">Ok</button>`;

    let alertOK = `<div class="alert alert-success aviso" role="alert">
                    Registro eliminado exitosamente. Actualice la página para ver los cambios.
                </div>`;

    $tabla.on('click', '.btn-danger.eliminar', function (e) {
        let id = $(e.target).data('id'); //data-"whatever" sirve para obtener el valor de whatever
        $modal.data('id', id).modal('show');
    });

    $(document).ready(function(){
        $("#proveedor").DataTable();

        $modal.on('shown.bs.modal', function (e) {
            // verificar si existe el id (por si tocan el html en el dom)
            $.ajax({
                url: `/proveedores/ver/${$modal.data('id')}`,
                method: 'GET',
                dataType: 'json',
                success: function (data, status, xhr) {
                    if (data.status_code == 404) {
                        agregarAlert('error', 'verif')
                        actualizarBotones('error')
                    }
                    else {
                        actualizarBotones('eliminar')
                        $("#confirmarEliminar").off('click').on('click', { id: $modal.data('id') }, eliminarFila);
                    }
                },
                error: function (e) {
                    agregarAlert('error')
                    actualizarBotones('error')
                    console.log(e)
                }
            });
        });

        agregarAlert = (accion, motivo) => {
            switch (accion) {
                case 'error': {
                    let texto = null;
                    switch (motivo) {
                        case 'verif': {
                            texto = 'Ocurrió un error al verificar si existe el registro seleccionado.';
                            break;
                        }
                        case 'elim': {
                            texto = 'Ocurrió un error al verificar si el registro fue eliminado correctamente. Verifique si los datos mostrados posteriormente son consistentes.';
                            break;
                        }
                        default: {
                            texto = 'Ha ocurrido un error desconocido. Verifique si los datos mostrados posteriormente son correctos.';
                        }
                    }
                    let alertError = ` <div class="alert alert-danger aviso" role="alert">
                        <button type="button" class="close close-alert" 
                            data-dismiss="alert" aria-hidden="true">
                            ×
                        </button> ${texto}
                    </div>`;

                    $('.modal-body').append(alertError);
                    break;
                }
                case 'ok': {
                    $('.modal-body').append(alertOK);
                    break;
                }
                default: break;
            }
        }

        actualizarBotones = (accion) => {
            $modal.find('#eliminarProveedor').children().remove();
            switch (accion) {
                case 'error': {
                    $modal.find('#eliminarProveedor').append(botonesOK);
                    break;
                }
                case 'eliminar': {
                    $modal.find('#eliminarProveedor').append(botonesEliminar);
                    break;
                }
                default: $modal.find('#eliminarProveedor').append(botonesOK);
            }
        }

        eliminarFila = (e) => {
            let idEliminar = e.data.id;
            url = `/proveedores/borrar/${idEliminar}`;
            $.ajax({
                url: url,
                method: 'GET',
                dataType: 'json',
                success: function (data, status, xhr) {
                    if (data.status_code == 200) {
                        agregarAlert('ok');
                        actualizarBotones('ok')
                    }
                    else if (data.status_code == 404) {
                        agregarAlert('error')
                        actualizarBotones('error')
                    }
                    else {
                        agregarAlert('ok');
                        actualizarBotones('ok')
                        $modal.modal('hide');
                    }
                },
                error: function (e) {
                    agregarAlert('error', 'elim')
                    actualizarBotones('error')
                    console.log(e)
                }
            });
        }

    });
</script>
{% endblock script %}