{% extends 'base.html' %}
{% block content %}

<div id="factura_venta">
    <form id="facturaForm">
        <div class="form-row mb-4">
            <div class="form-group col-12 col-md-4">
                <label class="control-label">*Fecha</label>
                <input type="date" class="form-control" name="fecha" min="2023-01-01" autocomplete="off" required>
            </div>
            <div class="form-group col-12 col-md-4">
                <label class="control-label">*N° Factura</label>
                <input type="text" name="numero" class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{7}" placeholder="999-999-999999" autocomplete="off" required>
            </div>
            <div class="form-group col-12 col-md-4">
                <label for="total">Total</label>
                <input type="number" readonly class="form-control" id="total" name="total_monto" autocomplete="off">
            </div>
            <!---->
        </div>
        <div class="form-row mb5">
            <div class="form-group col-12 col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="idContrato">Contrato N°</label>
                    </div>
                    <select class="custom-select" id="idContrato" name="idcontrato">
                        <option value="" selected>Seleccione un contrato...</option>
                        {% for Contrato in Contratos %}
                        <option value="{{Contrato.idcontrato}}">{{Contrato.idcontrato}} - {{Contrato.fecha_inicio}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group col-12 col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="idCliente">Cliente: </label>
                    </div>
                    <input class="form-control" type="text" id="desc_cliente" readonly>
                </div>
            </div>
            <!---->
            <div class="form-group col-12 col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="idDeposito">Depósito: </label>
                    </div>
                    <select class="custom-select" id="idDeposito" name="iddeposito" required>
                        <option value="" selected> Seleccione un depósito...</option>
                        {% for Deposito in Depositos %}
                        <option value="{{Deposito.iddeposito}}">{{Deposito.descripcion}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!---->
        </div>
        <div id="detalles">
        </div>
        <div class="form-row">
            <button class="btn btn-warning"><a href="/" style="color: white;">Volver al Inicio</a></button>
            <button type="submit" class="btn btn-success px-4 mr-o">Enviar</button>
        </div>
    </form>
</div>
{% endblock content %}

{% block script %}
<script src="{{url_for('static', path='/js/crear-venta.js')}}"></script>
{% endblock script %}