{% extends 'base.html' %}
{% block content %}
<div>
    <form action="/bancos/nuevo/" method="POST">
        <!--action es la direccion del ROUTER y el metodo post para insertar el registro-->
        <div class="form-group">
            <label for="banc_descri">Nombre Banco</label>
            <input type="text" class="form-control" id="banc_descri" name="descripcion">
        </div>
        <button class="btn btn-warning"><a href="/" style="color: white;">Volver al Inicio</a></button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endblock content %}