{% extends 'base.html' %}
{% block content %}
<table id="tabla_ciudades" class="table table-striped">
    <thead>
      <tr>
            <th scope="col">ID</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Nro. Departamento</th>
            <th scope="col">Descripcion</th>

      </tr>
    </thead>
    <tbody>
      {% for ciudad, departamento in data %}
      <tr>
            <td>{{ ciudad.id_ciudad}}</td>
            <td>{{ ciudad.descripcion }}</td>
            <td>{{ ciudad.id_departamento}}</td>
            <td>{{ departamento.descripcion}}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock content %}
{% block script %}
<script src="{{url_for('static', path='/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', path='/datatables/dataTables.bootstrap4.min.js')}}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#tabla_ciudades").DataTable();
    });
</script>
{% endblock script %}