{% extends 'base.html' %}
{% block content %}
                    <!--Encabezado del menu Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Inicio</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Productos (Colapsable card) -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-0">
                                <a href="#colapsableArticulo" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="colapsableArticulo">
                                    <h6 class="m-0 font-weight-bold text-primary">Productos</h6>
                                </a>
                                <div class="collapse" id="colapsableArticulo">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/productos/nuevo">Registrar</a></p>
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/productos">Consultar</a>
                                                </p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-shopping-bag fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Depositos (Colapsable card) -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-0">
                                <a href="#colapsableDeposito" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="colapsableDeposito">
                                    <h6 class="m-0 font-weight-bold text-primary">Depositos</h6>
                                </a>
                                <div class="collapse" id="colapsableDeposito">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/depositos/nuevo">Registrar</a></p>
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/depositos">Consultar</a>
                                                </p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-warehouse fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Compras (Colapsable card) -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-0">
                                <a href="#colapsableCompras" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="colapsableCompras">
                                    <h6 class="m-0 font-weight-bold text-primary">Compras</h6>
                                </a>
                                <div class="collapse" id="colapsableCompras">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/compras/nuevo">Registrar</a></p>
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/compras">Consultar</a>
                                                </p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-money-bill-alt fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  

                        <!-- Ventas (Colapsable card) -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-0">
                                <a href="#colapsableVentas" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="colapsableVentas">
                                    <h6 class="m-0 font-weight-bold text-primary">Ventas</h6>
                                </a>
                                <div class="collapse" id="colapsableVentas">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/ventas/nuevo">Registrar</a></p>
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/ventas">Consultar</a>
                                                </p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-money-bill fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Bancos (Colapsable card) -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-0">
                                <a href="#colapsableBanco" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="colapsableBanco">
                                    <h6 class="m-0 font-weight-bold text-primary">Bancos</h6>
                                </a>
                                <div class="collapse" id="colapsableBanco">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/bancos/nuevo">Registrar</a></p>
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/bancos">Consultar</a>
                                                </p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-university fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Clientes (Colapsable card) -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-0">
                                <a href="#colapsableClientes" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="colapsableClientes">
                                    <h6 class="m-0 font-weight-bold text-primary">Clientes</h6>
                                </a>
                                <div class="collapse" id="colapsableClientes">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/clientes/nuevo">Registrar</a></p>
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/clientes">Consultar</a>
                                                </p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-user-tag fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Proveedores (Colapsable card) -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-0">
                                <a href="#colapsableProveedores" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="colapsableProveedores">
                                    <h6 class="m-0 font-weight-bold text-primary">Proveedores</h6>
                                </a>
                                <div class="collapse" id="colapsableProveedores">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/proveedores/nuevo">Registrar</a></p>
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/proveedores">Consultar</a>
                                                </p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-suitcase fa-2x text-gray-300"></i><!--ICONO-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Cuentas (Colapsable card) -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-0">
                                <a href="#colapsableCuentas" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="colapsableCuentas">
                                    <h6 class="m-0 font-weight-bold text-primary">Cuentas</h6>
                                </a>
                                <div class="collapse" id="colapsableCuentas">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/cuentas/nuevo">Registrar</a></p>
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/cuentas">Consultar</a>
                                                </p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-file-invoice fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Contratos (Colapsable card) -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-0">
                                <a href="#colapsableContratos" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="colapsableContratos">
                                    <h6 class="m-0 font-weight-bold text-primary">Contratos</h6>
                                </a>
                                <div class="collapse" id="colapsableContratos">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/contratos/nuevo">Registrar</a></p>
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/contratos">Consultar</a>
                                                </p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-file-invoice-dollar fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Usuarios (Colapsable card) -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-0">
                                <a href="#colapsableUsuarios" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="colapsableUsuarios">
                                    <h6 class="m-0 font-weight-bold text-primary">Usuarios</h6>
                                </a>
                                <div class="collapse" id="colapsableUsuarios">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/usuarios/nuevo">Registrar</a></p>
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/usuarios">Consultar</a>
                                                </p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-users fa-2x text-gray-300"></i><!--ICONO-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Choferes (Colapsable card) -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-0">
                                <a href="#colapsableChoferes" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="colapsableChoferes">
                                    <h6 class="m-0 font-weight-bold text-primary">Choferes</h6>
                                </a>
                                <div class="collapse" id="colapsableChoferes">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/choferes/nuevo">Registrar</a></p>
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/choferes">Consultar</a>
                                                </p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-users fa-2x text-gray-300"></i><!--ICONO-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Camiones (Colapsable card) -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-0">
                                <a href="#colapsableCamiones" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="colapsableCamiones">
                                    <h6 class="m-0 font-weight-bold text-primary">Camiones</h6>
                                </a>
                                <div class="collapse" id="colapsableCamiones">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/camiones/nuevo">Registrar</a></p>
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/camiones">Consultar</a>
                                                </p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-truck fa-2x text-gray-300"></i><!--ICONO-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Carretas (Colapsable card) -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-0">
                                <a href="#colapsableCarretas" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="colapsableCarretas">
                                    <h6 class="m-0 font-weight-bold text-primary">Carretas</h6>
                                </a>
                                <div class="collapse" id="colapsableCarretas">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/carretas/nuevo">Registrar</a></p>
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/carretas">Consultar</a>
                                                </p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-truck-ramp fa-2x text-gray-300"></i><!--ICONO-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- MarcasCamiones (Colapsable card) -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-0">
                                <a href="#colapsableMarcasCamiones" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="colapsableMarcasCamiones">
                                    <h6 class="m-0 font-weight-bold text-primary">Marcas Camiones</h6>
                                </a>
                                <div class="collapse" id="colapsableMarcasCamiones">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/marcas_camiones/nuevo">Registrar</a></p>
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/marcas_camiones">Consultar</a>
                                                </p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-ticket-alt fa-2x text-gray-300"></i><!--ICONO-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- MarcasCarretas (Colapsable card) -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-0">
                                <a href="#colapsableMarcasCarretas" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="colapsableMarcasCarretas">
                                    <h6 class="m-0 font-weight-bold text-primary">Marcas Carretas</h6>
                                </a>
                                <div class="collapse" id="colapsableMarcasCarretas">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/marcas_carretas/nuevo">Registrar</a></p>
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/marcas_carretas">Consultar</a>
                                                </p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-ticket fa-2x text-gray-300"></i><!--ICONO-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Remisiones (Colapsable card) -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-0">
                                <a href="#colapsableRemisiones" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="colapsableRemisiones">
                                    <h6 class="m-0 font-weight-bold text-primary">Remisiones</h6>
                                </a>
                                <div class="collapse" id="colapsableRemisiones">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/remisiones/nuevo">Registrar</a></p>
                                                <p class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                    <a href="/remisiones">Consultar</a>
                                                </p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-truck-moving fa-2x text-gray-300"></i><!--ICONO-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
{% endblock content %}