{% extends 'base.html' %}
{% block content %}
    <div>
        <form action="/marcas_camiones/nuevo/" method="POST"><!--action es la direccion del ROUTER y el metodo post para insertar el registro-->
            <div class="form-group"> <!-- divisoria tipo formulario-->
                <label for="marca_cami_desc">Marca Camion</label>
                <input type="text" class="form-control" id="marca_cami_desc" name="marca_cami_desc">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
    </div>
{% endblock content %}
