{% extends 'base.html' %}
{% block content %}
<h1 class="h2 mb-1 text-gray-800">Crear Chofer</h1>
<hr class="mb-4">
    <div>
        <form action="/choferes/nuevo/" method="POST">
            <div class="form-group">
                <label for="chofe_ci">C.I.</label>
                <input type="text" class="form-control" id="chofe_ci" name="chofe_ci">
                <label for="chofe_nom">Nombre</label>
                <input type="text" class="form-control" id="chofe_nom" name="chofe_nom">
                <label for="chofe_ape">Apellido</label>
                <input type="text" class="form-control" id="chofe_ape" name="chofe_ape">
                <div class="form-group">
                    <label for="id_departamento">Departamento</label>
                    <select id="id_departamento" name="idDepartamento" class="custom-select custom-dropdown custom-form-input">
                    </select>
                </div>
                <div class="form-group">
                    <label for="id_ciudad">Ciudad</label>
                    <select id="id_ciudad" name="idCiudad" class="custom-select custom-dropdown custom-form-input">
                    </select>
                </div>
                <label for="chofe_tel">Teléfono:</label>
                <input type="text" class="form-control" id="chofe_tel" name="chofe_tel">
            </div>
            <button class="btn btn-warning"><a href="/" style="color: white;">Volver al Inicio</a></button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
{% endblock content %}
{% block script %}

<script src="{{url_for('static', path='/js/cargar-depto-ciudad.js')}}"></script>

{% endblock script %}
