{% extends 'base.html' %}
{% block content %}
<h1 class="h2 mb-1 text-gray-800">Editar Chofer</h1>
<hr class="mb-4">
    <div>
        <form action="/choferes/update/" method="POST">
        <div class="form-group">
            <label for="idchofer">ID Chofer</label>
            <input type="text" class="form-control" id="idchofer" name="idchofer" value="{{Chofer.idchofer}}" readonly>
        </div>
        <div class="form-group">
            <label for="ci">C.I.</label>
            <input type="text" class="form-control" id="ci" name="ci" value="{{ Chofer.ci}}">
            <label for="Nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" value="{{ Chofer.nombre}}">
            <label for="Apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" value="{{ Chofer.apellido}}">
            <div class="form-group">
                <label for="id_departamento">Departamento</label>
                <select id="iddepartamento" name="iddepartamento" class="custom-select custom-dropdown custom-form-input">
                </select>
            </div>
            <div class="form-group">
                <label for="idciudad">Ciudad</label>
                <select id="idciudad" name="idciudad" class="custom-select custom-dropdown custom-form-input">
                </select>
            </div>
            <label for="telefono">Teléfono</label>
            <input type="text" class="form-control" id="telefono" name="telefono" value="{{ Chofer.telefono}}">
        </div>
        <button class="btn btn-warning"><a href="/" style="color: white;">Volver al Inicio</a></button>
        <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>    
{% endblock content %}
{% block script %}
<script>

let jsonCiudades = null;
let selectDepto = null;
let ciuDepto = null;

agregarOpcion = (elemento, valor, texto) => {
    let nuevaOpcion = document.createElement("option");
    nuevaOpcion.value = valor;
    nuevaOpcion.text = texto;
    elemento.add(nuevaOpcion);
}

fetchCargarDepartamentos = () => {
    selectDepto = document.querySelector("#iddepartamento");
    selectDepto.length = 0; //para vaciar el select, por si acaso
    agregarOpcion(selectDepto, '', 'Seleccione un Departamento...');
    fetch('/departamentos/todos')
    .then((response) => response.json())
    .then((deptos) => {
        for (let depto of deptos) {
            agregarOpcion(selectDepto, depto.iddepartamento, depto.descripcion)
        }
    })
    .catch(error => {
        console.error(error)
        agregarOpcion(selectDepto, 0, 'Sin Datos');
    });
};

async function obtenerCiudades() {
    const response = await fetch('/ciudades/todos');
    if (!response.ok) {
        const message = `Ocurrió un error al intentar obtener las ciudades: ${response.status}`;
        throw new Error(message);
    }
    const ciudades = await response.json();
    return ciudades;
}

async function obtenerCiudadDeptoCho() {
    const response = await fetch('/choferes/{{Chofer.idchofer}}/iddepto');
    if (!response.ok) {
        const message = `Ocurrió un error al intentar obtener el id departamento del cliente: ${response.status}`;
        throw new Error(message);
    }
    const deptocliente = await response.json();
    return deptocliente;
}

window.addEventListener('DOMContentLoaded', fetchCargarDepartamentos);
window.addEventListener('DOMContentLoaded', async () => {
    await obtenerCiudades()
    .then(ciudades => {jsonCiudades = ciudades })
    .catch(error => {
        console.error(error);
        jsonCiudades = {};
    });
    const selectCiudad = document.querySelector("#idciudad");
    selectDepto.addEventListener('change', function (event) {
        let idDepto = event.target.value;
        if (idDepto) {
            selectCiudad.length = 0; // vaciar antes de volver a cargar!
            jsonCiudades.map(function (ciu) {
                if (ciu.iddepartamento == idDepto) {
                    agregarOpcion(selectCiudad, ciu.idciudad, `${ciu.descripcion}`);
                }
            });
        }
    });

    await obtenerCiudadDeptoCho()
    .then(deptocho => {ciudepto = deptocho })
    .catch(error => {
        console.error(error);
        ciudepto = {};
    });

    if(ciudepto){
        let options = selectDepto.getElementsByTagName('option');
        for (let i = 0; i < options.length; i++) {
            if (options[i].value == ciudepto.iddepto) {
                options[i].selected = true;
                selectDepto.dispatchEvent(new Event("change")); //para disparar el evento de cambio
                break;
            }
        }

        options = selectCiudad.getElementsByTagName('option');
        idciu = {{Chofer.idciudad}}
        for (let i = 0; i < options.length; i++) {
            if (options[i].value == idciu) {
                options[i].selected = true;
                break;
            }
        }
    }
});
</script>
{% endblock script %}