{% extends 'base.html' %}
{% block content %}
<table id="chofer" class="table table-striped">
    <thead>
      <tr>
            <th scope="col">ID</th>
            <th scope="col">C.I.</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for chofer in choferes %}
      <tr>
            <td>{{ chofer.idchofer}}</td>
            <td>{{ chofer.ci}}</td>
            <td>{{ chofer.nombre}}</td>
            <td>{{ chofer.apellido}}</td>
            <td>{{ chofer.descripcion_ciudad}}</td>
            <td>{{ chofer.telefono}}</td>
            <td><a href="/choferes/editar/{{- chofer.idchofer -}}" class="btn btn-warning editar">Editar</a>
                <button type="button" class="btn btn-danger eliminar" data-id="{{- chofer.idchofer -}}"> Eliminar </button></td>
      </tr>
      {% endfor %}
    </tbody>

</table>

<div class="modal fade" id="eliminarModal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Eliminar Registro</h4>
              <a href="#" class="close" data-dismiss="modal">&times;</a>
          </div>
          <div class="modal-body">
              <h5> ¿Está seguro/a de eliminar este registro? </h5>
          </div>
          <div class="modal-footer">
              <form id="eliminarUsuario">
              </form>
          </div>
      </div>
  </div>
</div>

{% endblock content %}
{% block script %}
<script src="{{url_for('static', path='/vendor/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', path='/vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#chofer").DataTable();
    });
</script>
{% endblock script %}