{% extends 'base.html' %}
{% block content %}
<!-- Page Heading -->
<h1 class="h2 mb-1 text-gray-800">Gastos</h1>
<hr class="mb-4">
<table border="0"  cellspacing="5" cellpadding="5">
    <tbody><tr>
        <td>Desde:</td>
        <td><input type="text" id="min" name="min"></td>
        <td>Hasta:</td>
        <td><input type="text" id="max" name="max"></td>
    </tr>
    </tbody>
</table>
<table id="gasto" class="table table-striped">
    <thead>
        <tr>
            <!--
            <th scope="col">Fecha</th>
            <th scope="col">N° Factura</th>
            <th scope="col">N° Contrato</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Monto</th>
            <th scope="col">Acciones</th>
            -->
        </tr>
    </thead>
    <tbody>
        <!--aqui se cargan los datos de datatable-->
    </tbody>
</table>
<button class="btn btn-warning"><a href="/" style="color: white;">Volver al Inicio</a></button>

<div class="modal fade" id="anularModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Anular Registro</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <h5> ¿Está seguro/a de anular este registro? </h5>
            </div>
            <div class="modal-footer">
                <form id="anularGasto"></form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script type="text/javascript">

    let $tabla = $("#gasto");
    let $modal = $('#anularModal');
    let botonesAnular = `<button data-dismiss="modal" type="button" class="btn btn-default" id="cancelarAnular">No, Cancelar</button>
                    <button id="confirmarAnular" class="btn btn-danger" type="button">Sí, Anular</button>`;
    let botonesOK = `<button data-dismiss="modal" type="button" class="btn btn-default" id="cancelarAnular">Ok</button>`;

    let alertOK = `<div class="alert alert-success aviso" role="alert">
                    Registro anulado exitosamente.
                </div>`;
    let botonesVerYAnular = (id) => {
        return `<a href="/gastos/ver/${id}" class="btn btn-warning ver">Ver</a>
                <button type="button" class="btn btn-danger anular" data-id="${id}"> Anular </button>`;
    }

    let urlEspanholDT = '{{url_for("static", path="/vendor/datatables/es-ES.json")}}';

    let tablaDT = null;

    inicializarDataTable = (tabla, url, columnas, urlIdioma) => {
        return tabla.DataTable({
            ajax: {
                url: url,
                dataSrc: '',
            },
            columns: columnas,
            language: {
                url: urlIdioma
            },
        })
    }
    $(document).ready(function () {
        columnas = [
            {
                "className": 'details-control',
                "orderable": false,
                "data": null,
                "defaultContent": '',
                render: function (data, type, row, meta) {
                    return `<button type="button" class="btn btn-outline-info">+</button>`;
                }
            },
            {
                title: 'Fecha',
                data: 'fecha',
                render: function(data, type, row){
                    if(type === "sort" || type === "type"){
                        return data;
                    }
                    return moment(data).format("YYYY-MM-DD");
                }
            },
            {
                title: 'N° Factura',
                data: 'numero'
            },
            {
                title: 'N° Contrato',
                data: 'contrato.nro',
                defaultContent: '-'
            },
            {
                title: 'Proveedor',
                data: 'proveedor.descripcion'
            },
            {
                title: 'Monto',
                data: 'total_monto'
            },
            {
                title: 'Acciones',
                data: null,
                sortable: false,
                searchable: false,
                render: function (data, type, row, meta) {
                    return botonesVerYAnular(data.idfactura_gasto);
                }
            },
        ];
        tablaDT = inicializarDataTable($tabla, '/gastos/todos', columnas, urlEspanholDT)

        $tabla.on('click', '.btn-danger.anular', function (e) {
            let id = $(e.target).data('id'); //data-"whatever" sirve para obtener el valor de "whatever"
            $modal.data('id', id).modal('show');
        });


        $('#gasto tbody').on('click', 'td.details-control', function () {

            function format(d) {
                // `d` es el objeto data original de la fila

                let cadenaDetalles = "";
                for (let i = 0; i < d.detalles.length; i++) {
                    console.log(d.detalles[i])
                    cadenaDetalles = cadenaDetalles + `<dd> Producto: ${d.detalles[i].descripcion_producto}, Cantidad: ${d.detalles[i].cantidad} </dd>`;
                }

                return (
                    '<dl>' +
                    '<dt>Detalles:</dt>' +
                    '<dd>' +
                    cadenaDetalles +
                    '</dd>' +
                    '</dl>'
                );
            }

            let tr = $(this).closest('tr');
            let row = tablaDT.row(tr);

            if (row.child.isShown()) {
                // Esta fila ya está abierta: cerrarla
                row.child.hide();
                tr.removeClass('shown');
            } else {
                // Abrir esta fila
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });

        agregarAlert = (accion, motivo) => {
            switch (accion) {
                case 'error': {
                    let texto = null;
                    switch (motivo) {
                        case 'verif': {
                            texto = 'Ocurrió un error al verificar si existe el registro seleccionado.';
                            break;
                        }
                        case 'elim': {
                            texto = 'Ocurrió un error al verificar si el registro fue anulado correctamente. Verifique si los datos mostrados posteriormente son consistentes.';
                            break;
                        }
                        default: {
                            texto = 'Ha ocurrido un error desconocido. Verifique si los datos mostrados posteriormente son correctos.';
                        }
                    }
                    let alertError = ` <div class="alert alert-danger aviso" role="alert">
                <button type="button" class="close close-alert" 
                    data-dismiss="alert" aria-hidden="true">
                    ×
                </button> ${texto}
            </div>`;

                    $('.modal-body').append(alertOK);
                    break;
                }
                case 'ok': {
                    $('.modal-body').append(alertOK);
                    break;
                }
                default: break;
            }
        }

        actualizarBotones = (action) => {
            $modal.find('#anularGasto').children().remove();
            switch (action) {
                case 'error': {
                    $modal.find('#anularGasto').append(botonesOK);
                    break;
                }
                case 'anular': {
                    $modal.find('#anularGasto').append(botonesAnular);
                    break;
                }
                default: $modal.find('#anularGasto').append(botonesOK);
            }
        }

        anularFila = (e) => {
            let idAnular = e.data.id;
            url = `/gastos/anular/${idAnular}`;
            $.ajax({
                url: url,
                method: 'GET',
                dataType: 'json',
                success: function (data, status, xhr) {
                    if (data.status_code == 200) {
                        agregarAlert('ok');
                        actualizarBotones('ok')
                        tablaDT.ajax.reload(null, false); //recaga la tabla
                    }
                    else if (data.status_code == 404) {
                        agregarAlert('error')
                        actualizarBotones('error')
                    }
                    else {
                        agregarAlert('ok');
                        actualizarBotones('ok')
                        tablaDT.ajax.reload(null, false); //recarga la tabla
                        $modal.modal('hide');
                    }
                },
                error: function (e) {
                    agregarAlert('error', 'elim')
                    actualizarBotones('error')
                    console.log(e)
                }
            });
        }

        $modal.on('shown.bs.modal', function (e) {
            //verificar si existe el id (por si tocan el html en el dom)
            $.ajax({
                url: `/gastos/ver/${$modal.data('id')}`,
                method: 'GET',
                dataType: 'json',
                success: function (data, status, xhr) {
                    if (data.status_code == 404) {
                        agregarAlert('error', 'verif')
                        actualizarBotones('error')
                    }
                    else {
                        actualizarBotones('anular')
                        $("#confirmarAnular").off('click').on('click', { id: $modal.data('id') }, anularFila);
                    }
                },
                error: function (e) {
                    agregarAlert('error')
                    actualizarBotones('error')
                    console.log(e)
                }
            });
        });

        $modal.on('hidden.bs.modal', function (e) {
            $modal.removeData('id');
            $modal.find('aviso').remove();
            $modal.find('anularGasto').children().remove
        })

        let minDate, maxDate;

DataTable.ext.search.push(function (settings, data, dataIndex) {
    let min = minDate.val();
    let max = maxDate.val();
    let date = new Date(data[1]); //data[1] es la columna de la fecha
    if (
        (min === null && max === null) ||
        (min === null && date <= max) ||
        (min <= date && max === null) ||
        (min <= date && date <= max)
    ) {
        return true;
    }
    return false;
});
// Crear inputs de fecha
minDate = new DateTime('#min', {
    format: 'YYYY-MM-DD'
});
maxDate = new DateTime('#max', {
    format: 'YYYY-MM-DD'
});
// Refiltrar la tabla
document.querySelectorAll('#min, #max').forEach((el) => {
    el.addEventListener('change', () => tablaDT.draw());
});
    })

</script>

{% endblock script %}