{% extends 'base.html' %}
{% block content %}
    <div>
        <form action="/clientes/nuevo/" method="POST">
            <div class="form-group">
                <label for="clie_descri">Nombre Cliente</label>
                <input type="text" class="form-control" id="clie_descri" name="clie_descri">
                <label for="clie_ruc">RUC</label>
                <input type="text" class="form-control" id="clie_ruc" name="clie_ruc">
                <div class="form-group">
                    <label for="id_departamento">Departamento</label>
                    <select id="id_departamento" name="id_departamento" class="custom-select custom-dropdown custom-form-input">
                    </select>
                </div>
                <div class="form-group">
                    <label for="id_ciudad">Ciudad</label>
                    <select id="id_ciudad" name="id_ciudad" class="custom-select custom-dropdown custom-form-input">
                    </select>
                </div>
                <label for="clie_dir">Dirección</label>
                <input type="text" class="form-control" id="clie_dir" name="clie_dir">
                <label for="clie_mail">Correo</label>
                <input type="text" class="form-control" id="clie_mail" name="clie_mail">
                <label for="clie_tel">Teléfono</label>
                <input type="text" class="form-control" id="clie_tel" name="clie_tel">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
    </div>
{% endblock content %}
{% block script %}
<script>

let jsonCiudades = null;
let selectDepto = null;

agregarOpcion = (elemento, valor, texto) => {
    let nuevaOpcion = document.createElement("option");
    nuevaOpcion.value = valor;
    nuevaOpcion.text = texto;
    elemento.add(nuevaOpcion);
}

fetchCargarDepartamentos = () => {
    selectDepto = document.querySelector("#id_departamento");
    selectDepto.length = 0; //para vaciar el select, por si acaso
    agregarOpcion(selectDepto, '', 'Seleccione un Departamento...');
        fetch('/departamentos/todos')
        .then((response) => response.json())
        .then((deptos) => {
            for (let depto of deptos) {
                agregarOpcion(selectDepto, depto.id_departamento, depto.descripcion)
            }
        })
        .catch(error => {
            console.error(error)
            agregarOpcion(selectDepto, 0, 'Sin Datos');
        });
    };

    async function obtenerCiudades() {
        const response = await fetch('/ciudades/todos');
        if (!response.ok) {
            const message = `Ocurrió un error al intentar obtener las ciudades: ${response.status}`;
            throw new Error(message);
        }
        const ciudades = await response.json();
        return ciudades;
    }

    window.addEventListener('DOMContentLoaded', fetchCargarDepartamentos);
    window.addEventListener('DOMContentLoaded', async () => {
        await obtenerCiudades()
        .then(ciudades => {jsonCiudades = ciudades })
        .catch(error => {
            console.error(error);
            jsonCiudades = {};
        });
        const selectCiudad = document.querySelector("#id_ciudad");
        selectDepto.addEventListener('change', function (event) {
            let idDepto = event.target.value;
            if (idDepto) {
                selectCiudad.length = 0; // vaciar antes de volver a cargar!
                jsonCiudades.map(function (ciu) {
                    if (ciu.id_departamento == idDepto) {
                        agregarOpcion(selectCiudad, ciu.id_ciudad, `${ciu.descripcion}`);
                    }
                });
            }
    });
});
</script>
{% endblock script %}