{% extends 'base.html' %}
{% block content %}
<table id="cliente" class="table table-striped">
    <thead>
      <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">RUC</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Direccion</th>
            <th scope="col">Correo</th>
            <th scope="col">Contacto</th>
            <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for cliente in clientes %}
      <tr>
            <td>{{ cliente.idcliente}}</td>
            <td>{{ cliente.descripcion}}</td>
            <td>{{ cliente.ruc}}</td>
            <td>{{ cliente.descripcion_ciudad}}</td>
            <td>{{ cliente.direccion}}</td>
            <td>{{ cliente.mail}}</td>
            <td>{{ cliente.telefono}}</td>
            <td><a href="/clientes/editar/{{- cliente.idcliente -}}" class="btn btn-warning editar">Editar</a>
                <button type="button" class="btn btn-danger eliminar" data-id="{{- cliente.idcliente -}}"> Eliminar </button></td>
      </tr>
      {% endfor %}
    </tbody>

</table>

<div class="modal fade" id="eliminarModal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Eliminar Registro</h4>
              <a href="#" class="close" data-dismiss="modal">&times;</a>
          </div>
          <div class="modal-body">
              <h5> ¿Está seguro/a de eliminar este registro? </h5>
          </div>
          <div class="modal-footer">
              <form id="eliminarUsuario">
              </form>
          </div>
      </div>
  </div>
</div>

{% endblock content %}
{% block script %}
<script src="{{url_for('static', path='/vendor/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', path='/vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#cliente").DataTable();
    });
</script>
{% endblock script %}